.filters {
  &--content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &--modal {
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: .7;
  }
  &--open {
    display: block;
    margin: .5em auto;
    font-size: 1.2rem;
    background: $accent-color;
    color: $white;
    border: none;
    padding: .25em;
  }
  &--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 1.4em;
    color: $white;
    background: transparent;
    border: none;
  }
}

.ternary-switch {
  display: block;
  min-width: 200px;
  padding: .5em;
  margin-bottom: 1rem;

  &-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  &-input {
    opacity: 0;
    position: absolute;
  }
  &-label {
    display: block;
    cursor: pointer;
    background: black;
    color: white;
    padding: .5em;
    margin-right: .25em;

    &:hover:not(:checked) {
      opacity: .8;
    }

    .ternary-switch-input:checked ~ & {
      color: $accent-color;
    }
  }

  legend {
    padding: 0 .5em;
  }
}
